/* custom css for papaers.html */
body {
	min-width: 1170px;
	min-height: 500px;
	background: url(../img/paper-bg.jpg) no-repeat fixed center center/cover;
	-o-background: url(../img/paper-bg.jpg) no-repeat fixed center center/cover;
	-ms-background: url(../img/paper-bg.jpg) no-repeat fixed center center/cover;
	-moz-background: url(../img/paper-bg.jpg) no-repeat fixed center center/cover;
	-webkit-background: url(../img/paper-bg.jpg) no-repeat fixed center center/cover;
}
#topAnchor { height: 0; }
/*=========================
	nav
  =========================*/
.nav-container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;

	height: 50px;
	border: 1px solid transparent;
	border-width: 0 0 1px;
	border-color: #e7e7e7;
	border-radius: 0;

	background-color: #ffffff;
}
.nav-content {
	width: 1170px;
	height: 50px;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
}
.nav-header {
	width: 150px;
	height: 50px;
	line-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.nav-header #logoImg { height: 30px; }
.nav-body .nav { height: 50px; }
.nav-body .nav > li {
	float: left;

	height: 50px;
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;

	text-align: center;
}
.nav-body .nav > li a {
	height: 30px;
	line-height: 30px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.nav-body .nav > li a:hover { background-color: transparent; }
.nav-body .nav > li a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.nav-body .nav > li a span:before {
	content: attr(data-hover);
	position: absolute;
	top: 100%;
	color: #111111;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.nav-body .nav > li a span:hover {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}
#blogLink { position: relative; }
#blogLink:after {
	content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #888888;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}
#backLink { font-size: 0.75em; }
/* nav END */

/*=========================
	content-body
  =========================*/
.body-container {
	position: absolute;
	width: 100%;
	padding-top: 5px;
	margin-top: 50px;
	z-index: 2
}
.body-content {
	width: 1170px;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
}
/* noticeList */
#noticeToggleBtn {
	display: inline-block;
	width: 25px;
	margin-right: 5px; 
	float: right;
	text-align: center;
}
/* tagList */
#tagList dd .tag-name {
	display: inline-block;
	width: 5em;
}
/* latestList */
#latestList a {
	padding-left: 5px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#latestList a:before {
	content: attr(data-no);
	position: absolute;
	display: block;
	margin-left: -5px;
	color: #111111;
}
/* timeList */
#timeList .time-val {
	display: inline-block;
	width: 4.5em;
}
/* #tagList、#timeList dd markup hover animation */
@keyframes move-animate {
	0% { padding-left: 0; }
	100% { padding-left: 15px; }
}
@-o-keyframes move-animate {
	0% { padding-left: 0; }
	100% { padding-left: 15px; }
}
@-ms-keyframes move-animate {
	0% { padding-left: 0; }
	100% { padding-left: 15px; }
}
@-moz-keyframes move-animate {
	0% { padding-left: 0; }
	100% { padding-left: 15px; }
}
@-webkit-keyframes move-animate {
	0% { padding-left: 0; }
	100% { padding-left: 15px; }
}
#tagList dd a:hover, 
#timeList dd a:hover {
	animation: move-animate 0.5s ease;
	-o-animation: move-animate 0.5s ease;
	-ms-animation: move-animate 0.5s ease;
	-moz-animation: move-animate 0.5s ease;
	-webkit-animation: move-animate 0.5s ease;
	padding-left: 15px;
}
#tagList dd a:hover:before, 
#timeList dd a:hover:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #888888;
}
/* paper content */
.category .paper-subtitle, .category .paper-footer, .category .footer-hr { display: none; }
#paperContent hr {
	padding: 0;
	margin: 0;
}
#paperContent .paper-footer { margin: 15px 25px;font-size: 0.75em; }
#paperContent .paper-footer > div { height: 20px;line-height: 20px; }
#paperContent .paper-footer .pre-title { text-align: left; }
#paperContent .paper-footer .next-title { text-align: right; }
#paperContent .paper-footer a { width: 300px;height:20px;line-height: 20px;display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; }
#paperContent .paper-footer i { height: 20px;line-height: 20px; }
/* comment container */
.category .comment-container {
	display: none;
}
.comment-container {
	padding: 15px 15px 0;
}
.comment-container .comment-content {
	margin: 15px 0;
}
.comment-container .comment-content.no-comment:after {
	display: block;
	content: "-----暂无评论，快来抢沙发！-----";
	font-size: 0.75em;
	text-align: center;
}
#commentPaperBtn {
	height: 24px;
	line-height: 24px;
	font-size: 0.75em;
}
#commentPaperBtn:hover i.fa:before {
	content: "\f27b";
}
.comment-item {
	padding: 5px 10px;
	margin: 5px 0; 
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: #fff;
	font-size: 0.85em;
}
.comment-item .item-content {
	padding: 5px 0;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #eee;
}
.comment-item .item-content p {
	position: relative;
	margin: 0;
	text-indent: 2em;
}
.comment-item .item-footer {
	margin-top: 5px;
	font-size: 0.75em;
	text-align: right;
}
.comment-item .subcomment-btn:hover i.fa:before {
	content: "\f27b";
}
/*.comment-item.comment-type-0 { margin-left: 0; }*/
.comment-item.comment-type-1 { margin-left: 25px; }
.comment-item.comment-type-2 { margin-left: 50px; }
.comment-item.comment-type-3 { margin-left: 75px; }
.comment-item.comment-type-4 { margin-left: 100px; }
.comment-item.comment-type-5 { margin-left: 125px; }
.comment-item.comment-type-6 { margin-left: 150px; }
.comment-item.comment-type-7 { margin-left: 175px; }
.comment-item.comment-type-8 { margin-left: 200px; }
.comment-item.comment-type-9 { margin-left: 225px; }
.comment-item.comment-type-10 { margin-left: 250px; }
/* paper page */
#paperPage { margin: 10px auto;text-align: center; }
.category #paperPage { display: block; }
.category #paperPage.no-page { display: none; }
#paperPage a { display: inline-block;width: 25px;height: 25px;line-height: 25px;margin: 0 1px;border-radius: 5px; }
#paperPage a.active { color: #fff;background-color: #aaa; }
#paperPage a:not(.active):hover { background-color: #aaa; }
/* aboutModal、contactModal */
#aboutModal .modal-dialog { margin: 100px auto; }
#contactModal .modal-dialog { margin: 150px auto; }
#commentModal .modal-dialog { margin: 100px auto; }
#aboutModal .modal-header, #contactModal .modal-header, #contactModal .modal-body, #commentModal .modal-header { text-align: center; }
#aboutModal .modal-body a:hover, #contactModal .modal-body a:hover { text-decoration: none; }
#aboutModal .modal-body dt:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -5px;
	margin-left: -10px; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #888888;
}
#commentModal textarea {
	height: 7.5em;
	resize: none;
}
#commentModal .operate-container {
	margin-top: 50px;
}
#commentModal #submitProcess {
	height: 34px;
	line-height: 34px;
	visibility: hidden;
}
#commentModal #submitProcess.comment-submiting {
	visibility: visible;
}
/* alert container */
.alert-container {
	position: fixed;
	min-width: 250px;
	top: 10px;
	right: 0;
	z-index: 9999;
}
.alert-container .alert {
	padding: 5px 15px;
	margin: 0;
}
.alert-container .alert a, 
.alert-container .alert strong {
	margin: 0 10px;
}
/* content-body END */
@keyframes scroll-hover {
	0% { opacity: 0.25; }
	50% { opacity: 0.5; }
	100% { opacity: 0.25; }
}
@-o-keyframes scroll-hover {
	0% { opacity: 0.25; }
	50% { opacity: 0.5; }
	100% { opacity: 0.25; }
}
@-ms-keyframes scroll-hover {
	0% { opacity: 0.25; }
	50% { opacity: 0.5; }
	100% { opacity: 0.25; }
}
@-moz-keyframes scroll-hover {
	0% { opacity: 0.25; }
	50% { opacity: 0.5; }
	100% { opacity: 0.25; }
}
@-webkit-keyframes scroll-hover {
	0% { opacity: 0.25; }
	50% { opacity: 0.5; }
	100% { opacity: 0.25; }
}
#scrollBtn {
	position: fixed;
	display: block;
	width: 50px;
	height: 50px;
	bottom: 50px;
	right: 50px;
	z-index: 999;
	opacity: 0.25;
}
#scrollBtn:hover {
	animation: scroll-hover 1.5s infinite;
	-o-animation: scroll-hover 1.5s infinite;
	-ms-animation: scroll-hover 1.5s infinite;
	-moz-animation: scroll-hover 1.5s infinite;
	-webkit-animation: scroll-hover 1.5s infinite;
}
